.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 24px;
  max-width: 1184px;
}

@media screen and (max-width: 1270px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 1020px) {
  .footer {
    max-width: 720px;
    margin-top: 88px;
  }
}

@media screen and (max-width: 765px) {
  .footer {
    width: 100%;
    flex-wrap: wrap;
  }
}
